*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    box-sizing: border-box;
    background-size: contain;
    place-content: center;
}

body{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    color: #03194D;
}

.logo img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 1px 0;
}
.fondo{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

h1{
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}
.soy{
  margin: 0 300px 0 0;
}
.un{
  margin-top: -50px;
}
.niño{
  margin: -50px 0 0 370px;
}
.img{
  height: 160px;
  width: 150px;
  float: right;
  margin: -265px 350px 0 0;
}
/*seccion 2*/
h3{
  font-size: 30px;
  text-align: center;
  color: #000;
}
.invito{
  color: #00073A;
  font-weight: bold;
}
h2{
  font-size: 38px;
  text-align: center;
  margin-top: -10px;
  font-weight: 500;
}
.name{
  font-size: 45px;
  margin-top: -10px;
  color: #00073A;
}
.img2{
    height: 300px;
    width: 200px;
    display: block;
    margin: -40px auto -20px ;
}
.img3{
  position: relative;
  display: block;
  width: 150px;
  height: 200px;
  margin: -30px 0 50px 560px;
}
.dia{
  margin: 10px 0;
}
.img4{
  height: 200px;
  width: 180px;
  display: block;
  margin: -130px 0 0 650px ;
}

/*Gallery*/
.gallery {
  --s: 200px; /* control the size */
  --g: 10px;  /* control the gap */
  
  display: grid;
  gap: var(--g);
  grid-template-columns: repeat(2,auto);
  position: relative;
  font-size: 0;
  transition: .5s;
  cursor: pointer;
  margin-bottom: 10px;
}
.gallery > img {
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  -webkit-mask: 
    radial-gradient(farthest-side at var(--_a),
      #0000 calc(50% + var(--g)/2 + 1em),#000 calc(51% + var(--g)/2 + 1em));
}
.gallery > img:nth-child(1) {--_a:calc(100% + var(--g)/2) calc(100% + var(--g)/2)}
.gallery > img:nth-child(2) {--_a:calc(  0% - var(--g)/2) calc(100% + var(--g)/2)}
.gallery > img:nth-child(3) {--_a:calc(100% + var(--g)/2) calc(  0% - var(--g)/2)}
.gallery > img:nth-child(4) {--_a:calc(  0% - var(--g)/2) calc(  0% - var(--g)/2)}
.gallery > img:nth-child(5) {
  position: absolute;
  width: calc(var(--s) + 2em);
  inset: 0;
  margin: auto;
  border-radius: 50%;
}

.gallery:hover {
  font-size: calc(var(--s)/5);
}

p{
    text-align: center;
    color: #000;
}
.img5{
  height: 200px;
  width: 180px;
  display: block;
  margin: -210px 0 0 290px ;
}

/*Boton Mapa*/
  .btn{
    width: 150px;
    height: 40px;
    border: 2px solid;
    border-color: #00073A;;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    color: #00073A;;
    margin-bottom: 10px;
}
.btn:hover{
    cursor: pointer;
    border-color: #00073A;;
    transform: translateY(-5px);
    font-size: 20px;
    color: #00073A;; 
}
.espero{
  margin: 30px 0 10px;
}
.hora{
  margin: 10px 0;
}

/*Confirmar evento*/
.asist{
  margin: 20px 0 0;
}
.confirm{
    width: 180px;
    height: 40px;
    border: 2px solid;
    border-color: #00073A;
    border-radius: 10px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px; 
    padding: 0 auto;
    text-align: center;
}
.confirm:hover{
    cursor: pointer;
    border-color: #00073A;
    transform: translateY(-5px);
    font-size: 22px;
    color: #00073A;
    text-decoration: none;
}
.whats{
    width: 25px;
    margin: 5px 0;
}
a{
    text-decoration: none;
    color: #00073A;
    font-size: 20px;
} 
a:hover{
    cursor: pointer;
    border-color: #00073A;
    translate: 1px;
    font-size: 20px;
    color: #00073A;
    text-decoration: none;
}


/*Temporizador*/
.faltan{
  margin: 20px 0 0;
}
.timer{
    display: inline-block;
    padding: 10px;
    color: #00073A;
    font-size: 20px;
    position: relative;
    bottom: 30px;
    text-align: center;
    height: 100px;
  }
  .countdown div{
    float: left;
    padding: 10px;
    color: #00073A;
    font-weight: 500; 
    height: 100px; 
  }
  .countdown p{
      width: auto;
      font-weight: bolder;
      font-size: 40px;
      color: #00073A;
  }
  .img6{
    height: 200px;
    width: 180px;
    display: block;
    margin: -210px 0 0 650px ;
  }

/*Footer*/
footer{
    width: 100%;
    height: 55px;
    margin: auto auto 5px;
    color: #00073A;
    border-top: 2px solid #00073A;
    border-bottom: 2px solid #00073A;
}

.footer{
    text-align: center;
    font-weight: 1000;
    line-height: 25px;
    font-size: 18px;
    color: #00073A;
}

.phone{
    text-align: center;
    font-weight: 500;
    line-height: 2px;
}

.mensaje-final{
    position: absolute;
    left: 0;
    right: 0;
    top: 122px;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-250%);
    transition: ease-in-out 0.5s;
}
.img-final{
    height: 786px;
    width: 1325px;
}
/*responsive*/
@media(min-width: 320px) and (max-width: 650px){
  h1{
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}
.soy{
  margin: 0 200px 0 0;
}
.un{
  margin-top: -10px;
}
.niño{
  margin: -10px 0 0 220px;
}
.img{
  height: 170px !important;
  width: 150px;
  /*float: right;*/
  margin: -230px 0 0 0;
}
h2{
  font-size: 35px;
}
.papas{
  margin-top: -40px;
}
.fecha{
    font-size: 30px;
}
.num{
  font-size: 30px;
}
h3{
  font-size: 25px;
}
.img2{
  width: 250px;
  height: 200px;
}
.img3{
  width: 120px !important;
  height: 180px;
  margin-left: 190px;
}
.gallery {
  --s: 150px; /* control the size */
  --g: 1px;  /* control the gap */
  
  display: grid;
  gap: var(--g);
  grid-template-columns: repeat(2,auto);
  position: relative;
  font-size: 0;
  transition: .5s;
  cursor: pointer;
  margin-bottom: 10px;
}
.gallery:hover {
  font-size: calc(var(--s)/3);
}
.confirm{
        width: 150px;
        height: 40px;
        border: 2px solid;
        border-color: #00073A;
        border-radius: 10px;
        font-weight: bold;
        font-size: 22px;
        color: #00073A;
        margin: auto;
        margin-bottom: 10px; 
        padding: 0 auto;
        text-align: center;
    }
.whats{
        height: 30px;
    }
    .dia{
      margin-top: 30px;
    }
.img4{
        width: 120px !important;
        margin-left: 230px;
        margin-top: -130px;
    }
.img5{
  width: 80px;
  margin-left: -10px;
 /* margin-top: -190px;*/
}
    
.faltan{
      margin: 30px;
    }
.timer{
        display: inline-block;
        margin: 0 40px;
        color: #00073A;
        font-size: 20px;
        position: relative;
        bottom: 30px;
        text-align: center;
        height: 100px;
      }
.countdown div{
        float: left;
        padding: 10px;
        color: #00073A;
        font-weight: 500; 
        height: 100px;
      }
.countdown p{
          width: auto;
          font-weight: 500;
          font-size: 25px;
      }
p{
        color: #00073A;
      }
      .footer{
        font-size: 20px;
      }
      .phone{
        font-size: 20px;
      }
.img6{
        width: 150px !important;
        margin-left: 210px;
        margin-top: -245px;margin-bottom: 10px;
      }
    }
